<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static%}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Watch Website Tempalte Free Download | Smarteyeapps.com</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'apprelojes/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'apprelojes/css/fontawsom-all.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'apprelojes/css/style.css' %}"
    />
    <link rel="shortcut icon" href="{% static 'apprelojes/assets/fav.jpg' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'apprelojes/assets/fav.png' %}"
      type="image/x-icon"
    />

    {% block head %} {% endblock %}
  </head>

  <body>
    <!----- ############## Header ############### ----->
    <div class="header-cover">
      <header id="menu-jk" class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-md-3 logo">
              <img src="{% static 'apprelojes/assets/logo.png' %}" alt="" />
              <a data-toggle="collapse" data-target="#menu" href="#menu"
                ><i class="fas d-block d-md-none small-menu fa-bars"></i
              ></a>
            </div>
            <div id="menu" class="col-xl-7 col-md-9 d-none d-md-block nav">
              <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'categoria' id=1 %}">Hombre</a></li>
                <li><a href="{% url 'categoria' id=2 %}">Mujer</a></li>
                <li><a href="{% url 'categoria' id=3 %}">Niño</a></li>
                <li><a href="{% url 'categoria' id=4 %}">Niña</a></li>
              </ul>
            </div>
            <div class="col-xl-2 d-none d-xl-block download">
              <button class="btn btn-primary">Ordena Online</button>
            </div>
          </div>
        </div>
      </header>
    </div>

    {% block contenido %} {% endblock %}

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 glink">
            <ul>
              <li>
                <a href="{% url 'home' %}"
                  ><i class="fas fa-angle-double-right"></i>Home</a
                >
              </li>
              <li>
                <a href="{% url 'categoria' id=1 %}"
                  ><i class="fas fa-angle-double-right"></i>Hombre</a
                >
              </li>
              <li>
                <a href="{% url 'categoria' id=2 %}"
                  ><i class="fas fa-angle-double-right"></i>Mujer</a
                >
              </li>
              <li>
                <a href="{% url 'categoria' id=3 %}"
                  ><i class="fas fa-angle-double-right"></i>Niño</a
                >
              </li>
              <li>
                <a href="{% url 'categoria' id=4 %}"
                  ><i class="fas fa-angle-double-right"></i>Niña</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="copy">
      <div class="container">
        <a href="https://www.smarteyeapps.com/"
          >2015 &copy; All Rights Reserved | Designed and Developed by
          Smarteyeapps</a
        >

        <span>
          <a><i class="fab fa-github"></i></a>
          <a><i class="fab fa-google-plus-g"></i></a>
          <a><i class="fab fa-pinterest-p"></i></a>
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="fab fa-facebook-f"></i></a>
        </span>
      </div>
    </div>

    {% block scripts %} {% endblock %}
  </body>
</html>
